<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rgvms.mapper.UserMapper">

<select id="login" resultType="com.rgvms.domain.UserVO">

	SELECT user_No, user_Pw
	  FROM TBL_USER
	 WHERE user_No = #{user_No}
	   AND user_Pw = #{user_Pw}

</select>

</mapper>
